<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        <div class="spacer">
            &nbsp;
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <h3 class="text-center">
                GWAB - Email Template Generator
            </h3>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">GWAB - DEMO STORAGE by <a href="http://github.com/thdotnet" target="_blank">@@thdotnet</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
